<!-- copy and paste this component within the main in layout -->
<article class="game-detail">
    <header>
        <h2><!--Game Name--></h2>
    </header>
    <figure>
        <!--img related to the game-->
        <img src="" alt="">
        <figcaption><!--img desc--></figcaption>
    </figure>

    <section class="game-facts">
         <details>
            <summary>Game Details</summary>
            <ul class="game-facts-list">
                <li>Release year: </li>
                <li>Genre: </li>
                <li>Platforms : </li>
                <li>Developer : </li>
            </ul>
         </details>
    </section>
   
    <section class="game-description">
        <h3><!--contexstual title--></h3>
        <p>
            <!--Why this belong to my favorites-->
        </p>
    </section>
    <footer>
        <a href="../games.html">Back to ranking</a>
    </footer>
</article>