<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><!--PAGE TITLE--></title>
    <meta name="description" content="Ranking of my favorite games">
    <meta name="keywords" content="games, ranking, videogames">
    <meta name="author" content="Manuel Cappai">
     <!-- use the correct relative path for each page -->
    <link rel="icon" href="./images/logo.png" type="image/png">
</head>
<body>
    <header class="site-header">
        <!-- use the correct relative path for each page -->
        <img
         src="./images/logo.png"
          alt="logo Manuel Cappai"
          width="50"
          >
        <h1>Games I Love</h1>
    </header>
    <hr>
    <nav class="site-nav">
        <ul class="nav-links">
             <!-- use the correct relative path for each page -->
            <li><a href="./index.html">Home</a></li>
            <li><a href="./pages/games.html">Games</a></li>
        </ul>
    </nav>
    <hr>
    <main class="site-main-container">
       <!--main content of the page -->
    </main>
    <hr>
    <footer>
        <address>
            Contact me:
            gamesIlove@example.com
        </address>
         <p>© 2026 Manuel Cappai</p>
    </footer>
</body>
</html>